#Footer-container {
  margin-top: 18rem;
  background-image: linear-gradient(to bottom right, cyan, white, green);
}
#get-connected {
  font-weight: bold;
  /* text-shadow: 2px 2px black; */
  background: -webkit-linear-gradient(black,grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#piersqure{
    font-size: 50px;
    /* color :rgb(107, 227, 107); */
    background: -webkit-linear-gradient(green,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 2px 2px 2px green; */
}
