.flex-row-reverse {
  /* padding-top: 60px; */
  /* height: 250px;
  background-image: linear-gradient(
    to bottom right,
    white,
    lightgreen,
    darkgreen,
    green,
    black
  ); */
}
.col-sm-3 {
  /* color: white;
  text-transform: capitalize;
  text-decoration-color: blueviolet, whitesmoke, purple;
  text-underline-offset: bottom;
 

  font-size: large; */
  font-size: 20px;
  background: -webkit-linear-gradient(black,cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  text-decoration:underline;
  font-family:sans-serif;
  /* font-style: italic; */

}
.col-sm-3:hover {
  color: wheat;
}
.img-thumbnail {
  width: 20%;

  margin-top: 1rem;
}
#icon-container {
  float: right;
  margin-top: 1rem;
  /* margin-top: -2000; */
}
.navbar-image {
  width: 12%;
  height: 50%;
  float: left;
  padding-left: 2%;
  padding-top: 2%;
}
.align-self-center {
  padding-top: 50px;
  margin-right: 220px;
}
